<phpunit bootstrap="tests/loader.php" stderr="true" stopOnError="true">

    <testsuites>
        <testsuite name="PhpUnit test">
            <directory>tests/ready</directory>
            <directory>tests/note/entities</directory>
            <directory>tests/note/models</directory>
            <directory>tests/note/controllers</directory>
            <directory>tests/note/viewmodels</directory> 
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
